.icon{
    margin-right: 10px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 70rem;
}

.text p{
    color: #def2f1;
}

.icon_container{
    display: flex;
}

.icon_container p{
    display: flex;
    align-items: center;
    color: #def2f1;
    padding: 0 15px;
}

.icon_container p:not(:first-child){
    border-left: 1px solid #def2f1;
}

.icon_container a:hover{
    color: #7fd6d2;
}